@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.title,
.subtitle,
.post_title {
  color: rgba(0, 247, 255, 0.932);
}

.post_title {
  font-size: 16px;
  font-style: italic;
}

.post {
  background: gray;
  padding: 15px;
  border: 3px solid black;
}

.capa_fig {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.capa {
  width: 50%;
  margin: 10px;
  background-position: center;
  background-size: cover;
}
